@font-face {
    font-family: Lato-Regular;
    src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Black;
    src: url("assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: Lato-Bold;
    src: url("assets/fonts/Lato-Bold.ttf");
}

* {
    box-sizing: border-box;

}

ul, p, h1 {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1020px;
    margin: 0 auto;
    font-family: Lato-Regular, sans-serif;
}

header {
    padding-bottom: 5px;
    background-color: #2d303a;
    font-family: Lato-Bold, sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #323746;

}

.wrapper {
    padding: 0 40px;
    height: 100%;
}

.header-logo {
    padding: 28px 39px;
    font-size: 12px;
}

.header-logo__text {

}

.header-logo__text--red {
    color: #f06c64;
}

.header-nav {
    padding: 37px 25px 0 0;

}

.nav-list {
    display: inline-flex;
    flex-wrap: wrap;
}

.nav-list__item {
    list-style-type: none;
    font-size: 12px;
    padding: 0 15px 0 14px;
    position: relative;
}

.nav-list__item:not(:first-child)::before {
    content: "\2022";
    opacity: 0.2;
    position: absolute;
    top: 25%;
    left: -4%;
    font-size: 5px;
}

.nav-list__link {
    text-decoration: none;
    color: #fff;
}

.nav-list__link:hover {
    cursor: pointer;
    color: #f06c64
}

.slider {
    padding-bottom: 57px;
    background-color: #f06c64;
    position: relative;
    border-bottom: 5px solid #ea676b;
}

.slider-images {
    padding: 53px 73px 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-images img {
    width: 100%;
    object-fit: fill;
}

.slider-buttons {
    position: absolute;
    width: 92%;
    top: 46%;
    left: 4%;
    display: flex;
    justify-content: space-between;
}

.slider-buttons__button {
    background: none;
    text-align: center;
    border: 0;
    font-size: 32px;
    cursor: pointer;
    color: #ca4549;
    margin: 0;
    padding: 0;
    outline: none
}

.slider-buttons__button:hover {
    cursor: pointer;
    color: #fff;
}

.nav-list__link:active, .slider-buttons__button:active {
    color: red;
}

.services {

    background-color: #f2f2f2;
    color: #666d89;
    border-bottom: 5px solid #fff;
}

.services-info {
    padding-top: 58px;
}

.services__title {
    font-family: Lato-Black, sans-serif;
    font-size: 30px;
}

.services__description {
    margin-top: 18px;
    font-family: Lato-Light, sans-serif;
    font-size: 18px;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    line-height: 1.7;
}

.services-items {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.services-item {
    padding: 0 0 34px 0;
    display: flex;
    justify-content: space-between;
    min-width: 32.1%;
}

.item-image {
    padding-top: 3px;
}

.item-image img {
    width: 60px;
    height: 60px;
}

.item-info {
    max-width: 240px;
    padding: 0 0 0 17px;
}

.item__title {
    font-family: Lato-Black, sans-serif;
    font-size: 18px;
}

.item__description {
    margin-top: 7px;
    line-height: 1.9;
    font-size: 12px;
    text-align: justify;
    height: 60px;

}

.services__title,
.services__description,
.item__title,
.item__description {
    overflow: hidden;
}